body {
    background-color: rgb(26, 26, 26);
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

img {
    width: 100px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

li {
    flex-grow: 1;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px;
    color: white;
}

a:hover {
    border-bottom: solid #339cff;
    color: #339cff;
}





